<div class="information">
  <div class="container">
    <div class="infor-top">
      <div class="col-md-3 infor-left">
        <h3>СОЦИАЛЬНЫЕ СЕТИ</h3>
        <ul>
          <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
          <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
          <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>О КОМПАНИИ</h3>
        <ul>
          <li><a href="#"><p>Скидки</p></a></li>
          <li><a href="#"><p>Контакты</p></a></li>
          <li><a href="#"><p>Вакансии</p></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>УСЛУГИ</h3>
        <ul>
          <li><a href="account.html"><p>Доставка</p></a></li>
          <li><a href="#"><p>Пункт самовывоза в регионах</p></a></li>
          <li><a href="#"><p>Гарантия</p></a></li>
          <li><a href="#"><p>Часы с логотипом</p></a></li>
        </ul>
      </div>
      <div class="col-md-3 infor-left">
        <h3>WATCHES</h3>
        <ul>
          <li><a href="account.html"><p>Войти и зарегистрироваться</p></a></li>
          <li><a href="#"><p>Клубные скидки</p></a></li>
          <li><a href="#"><p>Сервисный центр</p></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--information-end-->
<!--footer-starts-->
<div class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="col-md-6 footer-left">
           <form>
             <input type="text" value="Ваша электронная почта"
                    onfocus="this.value= '';"
                    onblur="if (this.value == '') { this.value = 'Enter Your Email'; }">
             <input type="submit" value="Подписаться">
           </form>
    </div>
    <div class="col-md-6 footer-right">
      <p> 2022 Watches Shop. ALl Right Reserved </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Корзина</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Продолжить покупки</button>
        <a href="cart/index" type="button" class="btn btn-primary">Оформить заказ</a>
        <button type="button" class="btn btn-danger" onclick="clearCart()">Очистить корзину</button>
      </div>
    </div>
  </div>
</div>